@model SmartH2RCore.Models.DTO.Settings.ChangePasswordDTO
@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_LayoutSettings.cshtml";
}

<html>
<body>

    <div class="content container-fluid" data-select2-id="8">
        <div class="row" data-select2-id="7">
            <div class="col-md-8 offset-md-2" data-select2-id="6">
                <form data-select2-id="5" method="post">
                    @Html.HiddenFor(v => v.Id)
                    <!-- Page Header -->
                    <div class="page-header">
                        <div class="row">
                            <div class="col-sm-12">
                                <h3 class="page-title">Change Password</h3>
                            </div>
                        </div>
                    </div>
                    <!-- /Page Header -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <div class="form-group row">
                                    <div class="col-sm-9">
                                    <label>Old password</label>
                                    
                                        @Html.TextBoxFor(v => v.OldPassword, new { @class = "form-control", @placeholder = "Enter Old password" })
                                        @Html.ValidationMessageFor(model => model.OldPassword, "", new { @class = "text-danger" })
                                      </div>
                                   
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-9">
                                    <label> New password</label>
                                     
                                        @Html.TextBoxFor(v => v.NewPassword, new {@class = "form-control", @placeholder = "enter New password" })
                                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                                      </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-9">
                                       
                                    <label>Confirm password</label>
                                     
                                        @Html.TextBoxFor(v => v.ConfirmPassword, new {@class = "form-control", @placeholder = "enter Confirm password" })
                                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                                      </div>
                                </div>
                                
                                    <div class="submit-section">
                                        <button type="submit" class="btn btn-primary submit-btn">&nbsp;@(Model == null || Model.Id <= 0 ? "Add" : "Update Password")</button>
                                    </div>
                              
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
